<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Volunteer Registration Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style2.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
        <script src="css/angular.min.js"></script>
        <script src="app.js"></script>
        <style>
            body { 
                background: url('Images/volunteer.jpg') no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
        </head>
        <body ng-app="validationApp" ng-controller="mainController">>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                                <span class="right">
                                    </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Volunteer Registration Form</h1>
                            </header>
            <section align="left" >               
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form name="userForm" action="/getinvolved" method="POST" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Name*</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        
        <div class="form-group" ng-class="{ 'has-error' : userForm.mobile.$invalid && !userForm.mobile.$pristine }">
            <label>Mobile</label>
            <input type="number" name="mobile" class="form-control" ng-model="user.mobile" ng-minlength="10" ng-maxlength="10">
            <p ng-show="userForm.mobile.$error.minlength" class="help-block">Enter 10 digit Mobile Number.</p>
            <p ng-show="userForm.mobile.$error.maxlength" class="help-block">Enter 10 digit Mobile Number.</p>
        </div>
            
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
            <label>Address*</label>
            <textArea name="address" class="form-control" ng-model="user.address" required></textArea>
            <p ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="help-block">You address is required.</p>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error' : userForm.age.$invalid && !userForm.age.$pristine }">
            <label>Age*</label>
            <input type="number" name="age" class="form-control" ng-model="user.age" required>
            <p ng-show="userForm.age.$invalid && !userForm.age.$pristine" class="help-block">You age is required.</p>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>    

                            </form>
                        </div>
                        
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>